* {
    box-sizing: border-box;
    font-size: 16px;
    font-family: "Roboto","Helvetica","Arial",sans-serif;
}

@media only screen and (max-width: 800px) {
    * {
        font-size: 12px;
    }
}

.app-container {
    min-height: 350px;
}